<div class="console">
  <div class="console__timer">До конца кампании: {{ days }} дней</div>
  <div class="console__display">
    <app-event-card *ngIf="card && cardType === 'yesNo'" [setData]="card"></app-event-card>
    <app-slogan-card *ngIf="card && cardType === 'slogan'" [setData]="card" (onSelectSlogan)="selectSlogan($event)"></app-slogan-card>
  </div>
  <div class="console__actions" *ngIf="cardType === 'yesNo' && !gameService.endGame">
    <button class="console__btn" (click)="doLeftEvent()" (keyup.arrowLeft)="doLeftEvent()">Нет</button>
    <button class="console__btn" (click)="doRightEvent()" (keyup.arrowRight)="doRightEvent()" [disabled]="disableYes">Да</button>
  </div>
</div>
