:host {
  display: block;
  max-width: 600px;
  width: 100%;
}

.console {

}

.console__timer {
  padding: 15px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.console__display {
  position: relative;
  height: 400px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(#000, .2);

  //&::after {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  z-index: 1;
  //  width: 100%;
  //  height: 100%;
  //  box-shadow: inset 0 3px 10px rgba(#000, .2);
  //}
}

.console__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.console__btn {
  width: 50%;
  height: 80px;
  border: 2px solid transparent;
  background-color: rgba(#21B2DD, .2);
  transition: all .1s ease-in-out;

  &:hover {
    background-color: rgba(#21B2DD, .3);
  }

  &:active {
    box-shadow: inset 0 3px 10px rgba(#000, .2);
  }

  &:focus {
    outline: 0;
    //border-color: rgba(#21B2DD, .35);
  }

  &:disabled {
    pointer-events: none;
    filter: grayscale(100%);
  }

  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
