<div class="candidate" [class.candidate--you]="person.you">
  <div class="candidate__face">
    <img [src]="person.skin" alt="">
  </div>
  <div class="candidate__display">
    <div class="candidate__name">{{ person.name }}</div>
    <div class="candidate__info"> {{ getGroup() }}</div>
    <div class="candidate__info">{{ getPoliticalTypeText() }}</div>
    <div class="candidate__trends">
      <app-trend class="trend" *ngFor="let trend of person.trends" [data]="trend" [config]="{line: true}"></app-trend>
    </div>
  </div>
</div>
