:host {
  display: block;
  max-width: 330px;
  width: 100%;
}

.candidate {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(#000, .2);
  background-color: #fff;
  font-size: 14px;
  line-height: 1.3;

  &--you {
    background-color: rgba(#21B2DD, .2);

    .candidate__trends {
      color: #777;
    }
  }
}

.candidate__face {
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  width: 25%;
  padding-top: 10px;
}

.candidate__display {
  flex: 1 1 100px;
  width: 65%;
  padding: 6px;
  padding-left: 10px;
}

.candidate__name {
  font-size: 16px;
  font-weight: 500;
}

.candidate__trends {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  color: #ccc;

  .trend {
    width: 50%;
    padding: 3px;
  }
}
