:host {
  display: block;
}

.trend {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}

.trend__line-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
  height: 4px;
  background-color: #ddd;
}

.trend__line {
  height: 100%;

  &.red {
    background-color: #ff4f2a;
  }

  &.yellow {
    background-color: #ffd649;
  }

  &.green {
    background-color: #43ff52;
  }
}

.trend__icon {
  flex: 0 0 auto;
  width: 14px;
  height: 14px;
  margin-right: 7px;
  color: inherit;
}

.trend__points {
  &--positive {
    color: #3dda4c;
  }

  &--negative {
    color: #ff4f2a;
  }
}
