<div class="trend">
  <svg-icon class="trend__icon" [icon]="getIcon()"></svg-icon>
  <div class="trend__line-wrapper" *ngIf="config.line">
    <div class="trend__line" [ngClass]="getColor()" [ngStyle]="{'width.%': data.getProgress()}"></div>
    <div class="trend__points trend__points--positive" *ngIf="config.points">+5</div>
  </div>
</div>
