:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.main {
  flex: 1 1 auto;
  padding-top: 60px;
}



.coins {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.coins__img {
  flex: 0 0 auto;
  max-width: 90px;
  width: 100%;
  margin-right: 20px;
}

.coins__count {
  flex: 1 1 auto;
}
