<div class="top-bar">
  <app-candidate *ngFor="let candidate of candidates" [person]="candidate"></app-candidate>
</div>
<div class="main">
  <div class="row" style="height: 100%">
    <div class="col col-3">
      <app-press></app-press>
    </div>
    <div class="col col-6">
      <app-console class="mx-auto"></app-console>
    </div>
    <div class="col col-3">
      <div class="coins" style="margin-top: 240px">
        <div class="coins__img">
          <img src="assets/img/coins.svg" alt="">
        </div>
        <div class="coins__count">{{ gameService.getCoins() }}</div>
      </div>
    </div>
  </div>
</div>
