/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
  background-color: rgba(#21B2DD, .15);

  * > * {
    box-sizing: inherit;
  }
}

img {
  max-width: 100%;
}

.trend {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}

.trend__line-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
  height: 4px;
  background-color: #ddd;
}

.trend__line {
  height: 100%;

  &.red {
    background-color: #ff4f2a;
  }

  &.yellow {
    background-color: #ffd649;
  }

  &.green {
    background-color: #43ff52;
  }
}

.trend__icon {
  flex: 0 0 auto;
  width: 14px;
  height: 14px;
  margin-right: 7px;
  color: inherit;
}

.trend__points {
  &--positive {
    color: #3dda4c;
  }

  &--negative {
    color: #ff4f2a;
  }
}

.press-card {
  min-height: 90px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  padding: 7px;
}

.press-card__title {
  font-weight: 500;
  font-size: 16px;
}

.press-card__trend {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .trend {
    margin-right: 10px;
  }
}
