<div class="event-card" #cardRef>
<!--  <div class="event-card__cost"></div>-->
  <div class="event-card__text">{{ card.text }}</div>
  <div class="event-card__img">
    <img src="/assets/img/teamwork.svg" alt="">
  </div>
</div>
