:host {
  display: block;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1024px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
