.press {
  max-width: 320px;
  max-height: 80%;
  height: 100%;
}

.press__header {
  padding: 15px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.press__body {
  max-height: 500px;
  overflow-y: auto;

  .press-card + .press-card {
    margin-top: 10px;
  }
}
