<div class="event-card" #cardRef>
  <div class="event-card__text mb-4">{{ card.text }}</div>
  <button class="event-card__slogan" *ngFor="let slogan of slogans" (click)="selectSlogan(slogan)">{{ slogan.text }}</button>
</div>

