:host {
  display: block;
  width: 100%;
  height: 100%;
}

.event-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: inherit;
  background-color: #f8f8f8;
  box-shadow: 0 3px 10px rgba(#000, .2);

  &.in-left {
    animation: card-in-left .5s linear 0s forwards;
  }

  &.in-right {
    animation: card-in-right .5s linear 0s forwards;
  }

  &.out-left {
    animation: card-out-left .5s linear 0s forwards;
  }

  &.out-right {
    animation: card-out-right .5s linear 0s forwards;
  }
}

.event-card__text {
  text-align: center;
}

.event-card__slogan {
  min-height: 60px;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: rgba(#21B2DD, .2);
  transition: all .1s ease-in-out;

  &:hover {
    background-color: rgba(#21B2DD, .3);
  }

  &:active {
    box-shadow: inset 0 3px 10px rgba(#000, .2);
  }

  &:focus {
    outline: 0;
  }

  + .event-card__slogan {
    margin-top: 8px;
  }
}

@keyframes card-in-left {
  0% {
    transform: scale(.8) translate(-100%, 50px) rotate(30deg);
  }

  100% {
    transform: scale(1) translate(0, 0) rotate(0);
  }
}

@keyframes card-in-right {
  0% {
    transform: scale(.8) translate(100%, 50px) rotate(-30deg);
  }

  100% {
    transform: scale(1) translate(0, 0) rotate(0);
  }
}

@keyframes card-out-left {
  0% {
    transform: scale(1) translate(0, 0) rotate(0);
  }

  100% {
    transform: scale(.8) translate(-150%, 50px) rotate(-30deg);
  }
}

@keyframes card-out-right {
  0% {
    transform: scale(1) translate(0, 0) rotate(0);
  }

  100% {
    transform: scale(.9) translate(150%, 50px) rotate(30deg);
  }
}
