<div class="press-card">
  <div class="press-card__title">Заголовок статьи</div>
  <div class="press-card__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, odit.
  </div>
  <div class="press-card__trend">
<!--    <app-trend></app-trend>-->
<!--    <app-trend></app-trend>-->
    <div class="trend">
      <div class="trend__icon">
        <img src="assets/icons/capitol.svg" alt="">
      </div>
      <div class="trend__points trend__points--positive">+5</div>
    </div>
    <div class="trend">
      <div class="trend__icon">
        <img src="assets/icons/users.svg" alt="">
      </div>
      <div class="trend__points trend__points--negative">-5</div>
    </div>
  </div>
</div>
