:host {
  display: block;
}

.press-card {
  min-height: 90px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  padding: 7px;
}

.press-card__title {
  font-weight: 500;
  font-size: 16px;
}

.press-card__trend {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .trend {
    margin-right: 10px;
  }
}
